openapi: 3.0.1
info:
  title: API de gestion des formations
  description: "# Service de gestion des formations\nCette API regroupe les fonctions\
    \ pour gérer les formations dans Brio.\n ## Changelog \n[S'inscrire à l'infolettre\
    \ Changements Brio | API - Gestion des formations](http://eepurl.com/hoR-ED)\n\
    \nVoir [http://apis.brioeducation.ca/formations/openapi-changelog.html](http://apis.brioeducation.ca/formations/openapi-changelog.html)\n\
    \ ### Préalables\n Pour utiliser les API de Brio, vous aurez besoin d’un jeton\
    \ d’authentification permanent. Consultez le service Authentification pour en\
    \ savoir plus.\n"
  termsOfService: https://identites.brioeducation.ca/conditions-utilisation.html
  contact:
    name: Brio
    url: https://www.brioeducation.ca/
    email: aide@brioeducation.ca
  version: 61.9.0
externalDocs:
  description: Besoin d'aide?
  url: https://aide.brioeducation.ca/
servers:
- url: https://apis.brioeducation.ca/formations
  description: Serveur de production
tags:
- name: Gestion des participants - Formation continue
  description: API responsables de la gestion des participants de formation continue.
- name: Gestion site - Formation créditée
  description: API responsables de la gestion des sites de formation créditée.
- name: Imports en lot
  description: API responsable de la gestion des imports en lot.
paths:
  /formations/v1/formations/-/groupes/-/participants:changements:
    get:
      tags:
      - Gestion des participants - Formation continue
      summary: "Recherche les participants ayant été ajoutés, modifiés ou supprimé\
        s depuis un numéro de changement spécifique."
      description: |-
        Recherche les participants ayant été ajoutés, modifiés ou supprimés depuis un numéro de changement spécifique.

         L'API recherche tous les changements ayant un numéro strictement plus grand que <code>numerochangement</code> ordonnés par numéro de changement.
         Le numéro de changement `0` permet de recevoir la liste complète des participants.<br>

         ### Étape 1 : Rechercher tous les participants aux formations existantes pour votre organisation<br>

         Pour commencer, obtenez la liste complète des participants aux formations de votre organisation en utilisant les informations de connexion de votre Application Cliente.<br>

         `/formations/v1/formations/-/groupes/-/participants:changements?limite=100&numerochangement=0`<br>

         Notez le numéro de changement retourné (<code>numeroChangementPageSuivante</code>) pour l'étape suivante.<br>

         ### Étape 2 : Obtenir les derniers changements aux participants de vos formations<br>

         Une fois que vous avez un <code>numeroChangementPageSuivante</code> en main, vous pouvez rechercher tous les participants ayant été ajoutés, modifiés ou supprimés depuis la dernière fois.
         Ceci vous permet, entre autres, de mettre à jour votre système avec les changements effectués aux participants depuis le dernier appel au service.<br>

         `/formations/v1/formations/-/groupes/-/participants:changements?limite=100&numerochangement=XYZ`<br>

         Le serveur peut imposer une taille maximale. Donc, il sera peut-être nécessaire d'effectuer l'appel plusieurs fois (en mettant à jour le paramètre <code>numerochangement</code> à partir du champ <code>numeroChangementPageSuivante</code> de la réponse précédente). Le champ `dernierePage` sera à `true` s'il n'y a plus d'autres participants.<br>
      operationId: ca.ulaval.ena2.formations.apis.formations.groupes.participants.publique.ParticipantsFormationRestServicePublique.rechercherChangementsParticipants
      parameters:
      - name: limite
        in: query
        description: |-
          Permet de limiter le nombre de changements à retourner. Optionnel<br>

           Le serveur peut imposer une taille maximale.<br>

           Si non spécifié ou `0`, le serveur déterminera la valeur à utiliser.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: numerochangement
        in: query
        description: Permet de filtrer les changements à ceux ayant un numéro de changement
          strictement plus grand que cette valeur. Spécifier `0` pour obtenir la première
          page de changements.
        required: true
        schema:
          minimum: 0
          type: integer
      - name: iduniteresponsableformation
        in: query
        description: L'identifiant de l'unité responsable des formations. Facultatif.
        schema:
          type: string
      responses:
        default:
          description: La liste des participants pour lesquels des changements ont
            eu lieu.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultatRechercheChangementsSommaireParticipantFormationChangement'
  /formations/formations/-/utilisateurs/{idexterneutilisateur}:
    get:
      tags:
      - Gestion site - Formation créditée
      summary: Obtient les informations rattachées à un utilisateur sur les formations
        créditées suivies ainsi que les sites de cours rattachés à ces formations.
      description: |-
        Obtient les informations rattachées à un utilisateur sur les formations créditées suivies ainsi que les sites de cours rattachés à ces formations.

         <p>
         Pour obtenir les formations créditées ainsi que les sites existants dans Brio, vous devez appeler cette API en précisant des informations selon le format
         défini par les <code>RechercherFormationsSitesUtilisateurParams</code>.<br>
         </p>

         <p>
         <code>idexterneutilisateur</code> : Identifiant de l'utilisateur. Provient de votre système de gestion des études.<br>
         <code>iduniteorganisation</code> : Identifiant de votre organisation. Provient de Brio.<br>
         <code>idexternesession</code> : Identifiant de la session pour laquelle on cherchera les formations créditées et les sites de l'utilisateur. Provient de votre système de gestion des études.<br>
         <code>typesparticipation</code> : Type de participation de l'utilisateur(Ex: COURS_SUIVIS, COURS_ENSEIGNES). (Optionnel). <br>
         </p><br><br>

         ### Exemple (structure de base d'un appel):<br>
         <pre><code>
         GET formations/-/utilisateurs/123xyz?iduniteorganisation=abc456&idexternesession=202309&typesparticipation=COURS_SUIVIS
         </code></pre>

         #### Exemple d'un appel fait avec cURL :<br>
         <pre><code>
         curl -X GET [URL] \
            -H 'Content-Type: application/json' \
         </code></pre>
      operationId: ca.ulaval.ena2.formations.apis.formations.utilisateurs.FormationsSitesUtilisateurRestService.rechercherFormationsSitesUtilisateur
      parameters:
      - name: idexterneutilisateur
        in: path
        description: Identifiant de l'utilisateur dans son organisation. Obligatoire.
        required: true
        schema:
          type: string
      - name: iduniteorganisation
        in: query
        description: Identifiant de l'organisation. Obligatoire.
        schema:
          type: string
      - name: idexternesession
        in: query
        description: Identifiant de session de la formation dans l'organisation. Obligatoire.
        schema:
          type: string
      - name: typesparticipation
        in: query
        description: Liste des types de participation à chercher. Optionnel.
        schema:
          type: array
          items:
            type: string
            description: Énumération des différents types de participation.
            enum:
            - COURS_SUIVIS
            - COURS_ENSEIGNES
            - _NON_SUPPORTE_
      responses:
        "200":
          description: Une liste des formations et sites de l'utilisateur correspondant
            aux critères de recherche reçus en paramètre.
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      $ref: '#/components/schemas/FormationSiteUtilisateur'
        "400":
          description: |-
            La requête n'est pas valide. La raison sera documentée dans `erreursValidation`. Raisons possibles:
            <ul>
                <li>B00752: Le champ ne peut être vide.</li>
                <li>B00502: La ressource demandée n'existe pas.</li>
            </ul>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErreurValidation'
  /formations/v1/formationscreditees/-/groupes/-/enseignants:
    put:
      tags:
      - Gestion site - Formation créditée
      summary: Crée ou modifie une affectation d'enseignant à un groupe crédité selon
        l'information spécifiée.
      description: |-
        Crée ou modifie une affectation d'enseignant à un groupe crédité selon l'information spécifiée.

         <p>
         Pour créer ou modifier une affectation d'enseignant dans Brio, vous devez appeler cette API en précisant les informations de
         l'enseignant et du groupe selon le format défini par les <code>EnseignantGroupeCrediteParams</code>.
         </p>

         <ul>
          <li>
              Si une affectation est trouvée dans le groupe à partir de l'<code>idExterneAffectation</code> fourni,
              elle est modifiée, sinon, une nouvelle affectation est créée.
          </li>
          <li>
              Pour créer une nouvelle affectation, le service vérifie l'existence de l'enseignant dans Brio à l'aide de
              l'<code>idExterneUtilisateur</code>, ou de l'adresse courriel fournie :
              <ul>
               <li>
                   Si l'enseignant est trouvé, il est affecté au groupe.
                   <br>
                   Note : Le nom et le prénom ne sont pas mis à jour pour un enseignant existant.
               </li>
               <li>
                   Si l'enseignant n'est pas trouvé, il est créé dans Brio à partir des données fournies, puis il est affecté au groupe.
               </li>
              </ul>
          </li>
         </ul>

         <p>
         <code>idExterneUtilisateur</code> : Identifiant utilisateur de l'enseignant à affecter. Provient de votre système de gestion des études.<br>
         <code>idUniteOrganisation</code> : Identifiant de votre organisation. Provient de Brio.<br>
         <code>idExterneGroupe</code> : Identifiant du groupe à affecter. Provient de votre système de gestion des études.<br>
         <code>idExterneAffectation</code> : Identifiant de l'affectation de l'enseignant. Provient de votre système de gestion des études.<br>
         <code>typeCompte</code> : type de compte Brio que vous désirez créer. Utilisé pour créer des comptes SSO.  (Optionnel)<br>
         <code>identifiantConnexion</code> : dans le cas d'un type de compte SSO, il faut fournir l'identifiant de connexion
         <code>autresCourriels</code> : Sert uniquement à la recherche des doublons pour un utilisateur UL déjà existant dans Brio (Optionnel).
         utilisé par l'enseignant chez le fournisseur de connexion de votre organisation. (Optionnel)
         </p>
         <br/>

         <b>Particularité</b><br>
         Pour des raisons techniques, les tests d'API de ce service doivent se faire directement en production dans une organisation de test spécifique à chaque
         partenaire. Les utilisateurs créés via le service d'inscription doivent obligatoirement utiliser le domaine courriel inscrit dans le champ <code>domaineCourriel</code>
         de l'organisation de test. Le nombre d'utilisateurs pour chaque organisation de test est limité par défaut à 10.
         <br><br>

         ### Exemple (structure de base d'un appel):<br>
         <pre><code>
         PUT /formations/v1/formationscreditees/-/groupes/-/enseignants/
         {
              "idExterneUtilisateur":"333",
              "idUniteOrganisation":"123",
              "idExterneGroupe":"789",
              "idExterneAffectation":"101",
              "prenom":"Pierre",
              "nom":"Untel",
              "courriel":"pierre.untel@courriel.ca",
              "typeCompte": "SSO",
              "identifiantConnexion":"piunt@courriel.ca",
              "autresCourriels": [
                 "pierre.unAutre@autre.ca",
                 "p.untel@exemple.com"
             ]
         }
         </code></pre>

         #### Exemple d'un appel fait avec cURL :<br>
         <pre><code>
         curl -X PUT [URL] \
            -H 'Content-Type: application/json' \
            -H "Accept: application/json" \
            -d @- <<'EOF'
            {
              "idExterneUtilisateur": "333",
              "idUniteOrganisation":"123",
              "idExterneGroupe":"789",
              "idExterneAffectation":"101",
              "prenom":"Pierre",
              "nom":"Untel",
              "courriel":"pierre.untel@courriel.ca",
              "typeCompte": "SSO",
              "identifiantConnexion":"piunt@courriel.ca",
              "autresCourriels": [
                 "pierre.untel@autre.ca",
                 "p.untel@exemple.com"
             ]
            }
            EOF
         </code></pre>
      operationId: ca.ulaval.ena2.formations.apis.formationscreditees.enseignantspublic.EnseignantGroupeCreditePublicRestService.creerOuModifierEnseignant
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                idExterneUtilisateur:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant utilisateur de l'enseignant du groupe dans
                    votre système. Obligatoire.
                idUniteOrganisation:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant Brio de l'unité organisation de l'enseignant.
                    Sera fourni par l'équipe Brio. Obligatoire.
                idExterneGroupe:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant du groupe crédité dans votre système. Obligatoire.
                idExterneAffectation:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: |-
                    Identifiant de l'affectation de l'enseignant du groupe crédité dans votre système. Obligatoire.
                     <br>
                     Cet id est different de l'`idExterneUtilisateur`.
                prenom:
                  maxLength: 150
                  minLength: 1
                  type: string
                  description: Prénom de l'enseignant. Obligatoire.
                nom:
                  maxLength: 150
                  minLength: 1
                  type: string
                  description: Nom de l'enseignant. Obligatoire.
                courriel:
                  maxLength: 240
                  minLength: 1
                  type: string
                  description: |-
                    Courriel de communication de l'enseignant. Obligatoire.
                     <br>
                     Pour un utilisateur qui n'existe pas dans Brio, ce courriel sera utilisé comme courriel de connexion et par la suite il sera le courriel de communication.
                     <br>
                     Pour un utilisateur qui existe dans Brio, il sera le courriel de communication.
                typeCompte:
                  type: string
                  description: Type de compte de l'utilisateur dans le cas d'un type
                    de compte SSO. Optionnel.
                identifiantConnexion:
                  maxLength: 254
                  minLength: 1
                  type: string
                  description: Identifiant de connexion de l'utilisateur dans le cas
                    d'un type de compte SSO. Optionnel.
              description: |-
                Paramètres pour la création ou la modification d'un `EnseignantGroupeCredite`. <br>

                 Lorsqu'une affectation existe pour l'`idExterneAffectation` ou la combinaison d'`idExterneUtilisateur` et d'`idUniteOrganisation` spécifiée,
                 l'adresse courriel de communication de l'enseignant sera modifiée.

                 Dans le cas contraire, une nouvelle affectation sera créée.

                 Exemple:
                 <pre><code>
                 {
                      "idExterneUtilisateur":"333",
                      "idUniteOrganisation":"123",
                      "idExterneGroupe":"789",
                      "idExterneAffectation":"101",
                      "prenom":"Pierre",
                      "nom":"Untel",
                      "courriel":"pierre.untel@courriel.ca",
                      "typeCompte": "SSO",
                      "identifiantConnexion":"piunt@courriel.ca"
                 }
                 </code></pre>
      responses:
        "200":
          description: L'enseignant et son affectation (créée ou modifiée) sont retournés.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnseignantGroupeCredite'
        "400":
          description: "La requête n'est pas valide. La raison sera documentée dans\
            \ `erreursValidation`. Raisons possibles: <ul><li>B00751: La taille doit\
            \ être comprise entre {min} et {max}.</li><li>B00752: Le champ ne peut\
            \ être vide.</li><li>B00754: Le type n'est pas supporté.</li><li>B20605:\
            \ L'unité organisation est inconnue.</li><li>B20609: L'unité organisation\
            \ spécifiée ne correspond pas à une organisation.</li><li>B20348: Impossible\
            \ d'ajouter un enseignant qui est déjà participant.</li><li>B20347: L'enseignant\
            \ est déjà affecté à ce groupe.</li><li>B20264: Groupe inexistant ou supprimé\
            .</li><li>B20194: L'utilisateur fourni (idExterneUtilisateur={id}) est\
            \ différent de celui actuellement associé à l'affectation (idExterneAffectation={id}).</li><li>B15069:\
            \ L'utilisateur fourni (idExterneUtilisateur={id}) est différent de celui\
            \ actuellement associé à l'adresse courriel fournie ({courriel}).</li><li>B00793:\
            \ La limite d'utilisateurs est atteinte pour l'organisation de test.</li><li>B00794:\
            \ Le domaine du courriel est invalide pour l'organisation de test.</li><li>B20197:\
            \ Impossible d'ajouter l'enseignant pour un type de compte SSO.</li></ul>"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErreurValidation'
    delete:
      tags:
      - Gestion site - Formation créditée
      summary: Supprime une affectation de l'enseignant sur un groupe crédité selon
        l'information spécifiée.
      description: |-
        Supprime une affectation de l'enseignant sur un groupe crédité selon l'information spécifiée.

         <p>
         Pour supprimer une affectation d'enseignant dans Brio, vous devez appeler cette API en précisant les
         informations de l'affectation et du groupe selon le format défini par les <code>SupprimerEnseignantGroupeCrediteParams</code>.
         </p>

         <p>
         S'il y a bien une affectation <code>idExterneAffectation</code> sur le groupe <code>idExterneGroupe</code>, pour l'utilisateur
         <code>idExterneUtilisateur</code>, l'affectation sera supprimée, sinon elle ne sera pas supprimée.
         </p>

         <p>
         <code>idExterneUtilisateur</code> : Identifiant utilisateur de l'enseignant. Provient de votre système de gestion des études.<br>
         <code>idUniteOrganisation</code> : Identifiant de votre organisation. Provient de Brio.<br>
         <code>idExterneGroupe</code> : Identifiant du groupe. Provient de votre système de gestion des études.<br>
         <code>idExterneAffectation</code> : Identifiant de l'affectation de l'enseignant. Provient de votre système de gestion des études.
         </p>

         ### Exemple (structure de base d'un appel)
         <pre><code>
         DELETE /formations/v1/formationscreditees/-/groupes/-/enseignants/
             {
                  "idExterneUtilisateur":"333",
                  "idUniteOrganisation":"123",
                  "idExterneGroupe":"789",
                  "idExterneAffectation":"101"
             }
         </code></pre>

         ### Exemple cURL
         <pre><code>
         curl -X DELETE [URL] \
            -H 'Content-Type: application/json' \
            -H "Accept: application/json" \
            -d @- <<'EOF'
             {
                  "idExterneUtilisateur":"333",
                  "idUniteOrganisation":"123",
                  "idExterneGroupe":"789",
                  "idExterneAffectation":"101"
             }
            EOF
         </code></pre>
      operationId: ca.ulaval.ena2.formations.apis.formationscreditees.enseignantspublic.EnseignantGroupeCreditePublicRestService.supprimerEnseignant
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                idExterneUtilisateur:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant de l'enseignant. Provient de votre système
                    de gestion des études. Obligatoire.
                idUniteOrganisation:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant de votre organisation. Provient de Brio
                    et sera fourni par l'équipe Brio. Obligatoire.
                idExterneGroupe:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant du groupe. Provient de votre système de
                    gestion des études. Obligatoire.
                idExterneAffectation:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: |-
                    Identifiant de l'affectation de l'enseignant. Provient de votre système de gestion des études. Obligatoire.
                     <br>
                     Cet id est different de l'`idExterneUtilisateur`.
              description: |-
                Les paramètres pour supprimer un enseignant d'un groupe crédité.
                 <br>
                 Exemple:
                 <pre><code>
                 {
                      "idExterneUtilisateur":"333",
                      "idUniteOrganisation":"123",
                      "idExterneGroupe":"789",
                      "idExterneAffectation":"101"
                 }
                 </code></pre>
      responses:
        "200":
          description: Retourne `ResultatSuppression` avec le nombre d'affectations
            supprimées.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultatSuppression'
        "400":
          description: "La requête n'est pas valide. La raison sera documentée dans\
            \ `erreursValidation`. Raisons possibles: <ul><li>B00751: La taille doit\
            \ être comprise entre {min} et {max}.</li><li>B00752: Le champ ne peut\
            \ être vide.</li><li>B00754: Le type n'est pas supporté.</li><li>B20605:\
            \ L'unité organisation est inconnue.</li><li>B20609: L'unité organisation\
            \ spécifiée ne correspond pas à une organisation.</li><li>B20264: Groupe\
            \ inexistant ou supprimé.</li></ul>"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErreurValidation'
  /formations/v1/formationscreditees/-/groupes/-/inscriptions:
    put:
      tags:
      - Gestion site - Formation créditée
      summary: Crée ou modifie une inscription à un groupe crédité selon l'information
        spécifiée.
      description: |-
        Crée ou modifie une inscription à un groupe crédité selon l'information spécifiée.

         <p>
         Pour créer ou modifier une inscription dans Brio, vous devez appeler cette API en précisant les informations
         de l'inscription et du groupe selon le format défini par les <code>InscriptionGroupeFormationCreditee</code>.

         <ul>
             <li>
                 Si une inscription est trouvée dans le groupe à partir de l'<code>idExterne</code> fourni, elle est
                 modifiée, sinon, une nouvelle inscription est créée.
             </li>
             <li>
                  Pour créer une nouvelle inscription, le service vérifie l'existence de l'étudiant dans Brio à l'aide
                  de l'<code>idExterneUtilisateur</code>, ou de l'adresse courriel fournie :
                  <ul>
                      <li>
                          Si l'étudiant est trouvé, il est inscrit dans le groupe.
                          <br/>
                          Note : Le nom et le prénom ne sont pas mis à jour pour un étudiant existant.
                      </li>
                      <li>
                          Si l'étudiant n'est pas trouvé, il est créé dans Brio à partir des données fournies, puis il est inscrit dans le groupe.
                      </li>
                  </ul>
             </li>
         </ul>
         </p>

         <p>
         <code>idExterne</code> : Identifiant de l'inscription de l'étudiant. Provient de votre système de gestion des études.<br>
         <code>idExterneUtilisateur</code> : Identifiant utilisateur de l'étudiant à inscrire. Provient de votre système de gestion des études.<br>
         <code>idUniteOrganisation</code> : Identifiant de votre organisation. Provient de Brio.<br>
         <code>idExterneGroupe</code> : Identifiant du groupe dans lequel une inscription doit être ajoutée. Provient de votre système de gestion des études.<br>
         <code>statutInscription</code> : Statut de l'inscription.<br>
         <code>profilEtudiant</code> : Profil de l'étudiant.<br>
         <code>resultatFinalOfficiel</code> : Résultat final de l'étudiant lorsque le résultat apparaît au relevé de notes (officialisé). Utilisé pour les formations créditées de l'Université Laval. (Optionnel).<br>
         <code>numeroDossier</code> : Numéro de dossier de l'étudiant dans votre système de gestion des études (ex. : le NI pour l'Université Laval ou le matricule pour les Cégeps).<br>
         <code>typeCompte</code> : type de compte Brio que vous désirez créer. Utilisé pour créer des comptes SSO.  (Optionnel)<br>
         <code>identifiantConnexion</code> : dans le cas d'un type de compte SSO, il faut fournir l'identifiant de connexion utilisé par l'étudiant chez le fournisseur de connexion de votre organisation. (Optionnel)
         <code>autresCourriles</code> : Sert uniquement à la recherche des doublons pour un utilisateur UL déjà existant dans Brio (Optionnel).
         </p><br>

         <b>Particularité</b><br>
         Pour des raisons techniques, les tests d'API de ce service doivent se faire directement en production dans une organisation de test spécifique à chaque
         partenaire. Les utilisateurs créés via le service d'inscription doivent obligatoirement utiliser le domaine courriel inscrit dans le champ <code>domaineCourriel</code>
         de l'organisation de test. Le nombre d'utilisateurs pour chaque organisation de test est limité par défaut à 10.
         <br><br>

         ### Exemple (structure de base d'un appel):<br>
         <pre><code>
         PUT /formations/v1/formationscreditees/-/groupes/-/inscriptions/
         {
              "idExterne":"888",
              "idUniteOrganisation":"123",
              "idExterneGroupe":"789",
              "idExterneUtilisateur":"333",
              "prenom":"Pierre",
              "nom":"Untel",
              "courriel":"pierre.untel@courriel.ca",
              "statutInscription":"INSCRIT",
              "profilEtudiant":"REGULIER",
              "resultatFinalOfficiel": "A+",
              "typeCompte": "SSO",
              "identifiantConnexion":"piunt@courriel.ca",
              "autresCourriels": [
              *         "pierre.untel@autre.ca",
              *         "p.untel@exemple.com"
              *     ]
         }
         </code></pre>

         #### Exemple d'un appel fait avec cURL :<br>
         <pre><code>
         curl -X PUT [URL] \
            -H 'Content-Type: application/json' \
            -H "Accept: application/json" \
            -d @- <<'EOF'
            {
              "idExterne":"888",
              "idUniteOrganisation":"123",
              "idExterneGroupe":"789",
              "idExterneUtilisateur":"333",
              "prenom":"Pierre",
              "nom":"Untel",
              "courriel":"pierre.untel@courriel.ca",
              "statutInscription":"INSCRIT",
              "profilEtudiant":"REGULIER",
              "resultatFinalOfficiel": "A+",
              "typeCompte": "SSO",
              "identifiantConnexion":"piunt@courriel.ca",
              "autresCourriels": [
              *         "pierre.untel@autre.ca",
              *         "p.untel@exemple.com"
              *     ]
             }
            EOF
         </code></pre>
      operationId: ca.ulaval.ena2.formations.apis.formationscreditees.groupes.inscriptions.inscriptiongroupeformationcrediteepublic.InscriptionGroupeFormationCrediteePublicRestService.creerOuModifierInscription
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                idExterne:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: |-
                    Identifiant de l'inscription de l'étudiant dans votre système. Obligatoire.
                     <br/>
                     Cet id est différent de l'`idExterneUtilisateur`.
                idUniteOrganisation:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant Brio de l'unité organisation. Sera fourni
                    par l'équipe Brio. Obligatoire.
                idExterneGroupe:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant du groupe crédité dans votre système. Obligatoire.
                idExterneUtilisateur:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant utilisateur de l'étudiant dans votre système.
                    Obligatoire.
                prenom:
                  maxLength: 150
                  minLength: 1
                  type: string
                  description: Prénom de l'étudiant. Obligatoire.
                nom:
                  maxLength: 150
                  minLength: 1
                  type: string
                  description: Nom de l'étudiant. Obligatoire.
                courriel:
                  maxLength: 240
                  minLength: 1
                  type: string
                  description: |-
                    Courriel de communication de l'étudiant. Obligatoire.
                     <br>
                     Pour un utilisateur qui n'existe pas dans Brio, ce courriel sera utilisé comme courriel de connexion et par la suite il sera le courriel de communication.
                     <br>
                     Pour un utilisateur qui existe dans Brio, il sera le courriel de communication.
                statutInscription:
                  type: string
                  description: Statut de l'inscription. Obligatoire.
                  enum:
                  - INSCRIT
                  - DESINSCRIT
                  - ABANDONNE
                profilEtudiant:
                  type: string
                  description: "Profil de l'étudiant. Optionnel. Si cette information\
                    \ est absente, le profil de l'étudiant sera Régulier par défaut."
                  enum:
                  - REGULIER
                  - AUDITEUR
                resultatFinalOfficiel:
                  type: string
                  description: Résultat final de l\u2019étudiant lorsque le résultat
                    apparaît au relevé de notes (officialisé). Utilisé pour les formations
                    créditées de l\u2019Université Laval.
                numeroDossier:
                  type: string
                  description: |-
                    Numéro de dossier de l'étudiant dans votre système de gestion des études (ex. : le NI pour l'Université Laval ou le matricule pour les Cégeps).
                     Obligatoire.
                typeCompte:
                  type: string
                  description: Type de compte de l'utilisateur dans le cas d'un type
                    de compte SSO. Optionnel.
                identifiantConnexion:
                  maxLength: 254
                  minLength: 1
                  type: string
                  description: Identifiant de connexion de l'utilisateur dans le cas
                    d'un type de compte SSO. Optionnel.
              description: |-
                Paramètres pour la création ou la modification d'une `InscriptionGroupeFormationCreditee`. <br>

                 Lorsqu'une inscription existe pour l'`idExterne` ou la combinaison d'`idExterneUtilisateur` et d'`idUniteOrganisation`
                 spécifiée, l'adresse courriel de communication de l'étudiant sera modifiée. Dans le cas contraire,
                 une nouvelle inscription sera créée.

                 Exemple:
                 <pre><code>
                 {
                      "idExterne":"888",
                      "idUniteOrganisation":"123",
                      "idExterneGroupe":"789",
                      "idExterneUtilisateur":"333",
                      "prenom":"Pierre",
                      "nom":"Untel",
                      "courriel":"pierre.untel@courriel.ca",
                      "statutInscription":"INSCRIT",
                      "profilEtudiant":"REGULIER",
                      "resultatFinalOfficiel": "A+",
                      "numeroDossier": "62001",
                      "identifiantConnexion": "idul@ulaval.ca",
                      "typeCompte": "SSO"
                 }
                 </code></pre>
      responses:
        "200":
          description: L'étudiant et son inscription (créée ou modifiée) sont retournés.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InscriptionGroupeFormationCreditee'
        "400":
          description: "La requête n'est pas valide. La raison sera documentée dans\
            \ `erreursValidation`. Raisons possibles: <ul><li>B00751: La taille doit\
            \ être comprise entre {min} et {max}.</li><li>B00752: Le champ ne peut\
            \ être vide.</li><li>B00754: Le type n'est pas supporté.</li><li>B20264:\
            \ Le groupe est inexistant ou supprimé.</li><li>B20343: L'utilisateur\
            \ est déjà inscrit dans le groupe avec un identifiant externe inscription\
            \ (idExterneInscription) différent.</li><li>B20344: L'utilisateur est\
            \ déjà affecté comme enseignant dans le groupe crédité.</li><li>B20345:\
            \ L'inscription est déjà existante pour un utilisateur différent.</li><li>B20346:\
            \ Impossible de modifier l'identifiant externe du groupe (idExterneGroupe)\
            \ pour une inscription déjà existante.</li><li>B00793: La limite d'utilisateurs\
            \ est atteinte pour l'organisation de test.</li><li>B00794: Le domaine\
            \ du courriel est invalide pour l'organisation de test.</li><li>B20364:\
            \ Ajout d'une inscription impossible pour un individu qui détient un type\
            \ de compte SSO.</li></ul>"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErreurValidation'
    delete:
      tags:
      - Gestion site - Formation créditée
      summary: Supprime une inscription d'étudiant d'un groupe crédité selon l'information
        spécifiée.
      description: |-
        Supprime une inscription d'étudiant d'un groupe crédité selon l'information spécifiée.

         <p>
         Pour supprimer une inscription d'étudiant dans Brio, vous devez appeler cette API en précisant
         les informations de l'inscription et du groupe selon le format défini par les
         <code>SupprimerInscriptionGroupeFormationCrediteeParams</code>.

         S'il y a bien une inscription `idExterne` sur le groupe `idExterneGroupe`, pour l'utilisateur `idExterneUtilisateur`,
         l'inscription sera supprimée, sinon elle ne sera pas supprimée.
         </p>

         <p>
         <code>idExterne</code> : Identifiant de l'inscription de l'étudiant. Provient de votre système de gestion des études.<br>
         <code>idExterneUtilisateur</code> : Identifiant utilisateur de l'étudiant. Provient de votre système de gestion des études.<br>
         <code>idUniteOrganisation</code> : Identifiant de votre organisation. Provient de Brio.<br>
         <code>idExterneGroupe</code> : Identifiant du groupe. Provient de votre système de gestion des études.<br>
         </p>

         ### Exemple (structure de base d'un appel)
         <pre><code>
         DELETE /formations/v1/formationscreditees/-/groupes/-/inscriptions/
              {
                  "idExterne":"888",
                  "idExterneUtilisateur":"333",
                  "idUniteOrganisation":"123",
                  "idExterneGroupe":"789"
              }
         </code></pre>

         ### Exemple cURL
         <pre><code>
         curl -X DELETE [URL] \
            -H 'Content-Type: application/json' \
            -H "Accept: application/json" \
            -d @- <<'EOF'
              {
                  "idExterne":"888",
                  "idExterneUtilisateur":"333",
                  "idUniteOrganisation":"123",
                  "idExterneGroupe":"789"
              }
            EOF
         </code></pre>
      operationId: ca.ulaval.ena2.formations.apis.formationscreditees.groupes.inscriptions.inscriptiongroupeformationcrediteepublic.InscriptionGroupeFormationCrediteePublicRestService.supprimerInscription
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                idExterne:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: |-
                    Identifiant de l'inscription de l'étudiant. Provient de votre système de gestion des études. Obligatoire.
                     <br>
                     Cet id est différent de l'`idExterneUtilisateur`.
                idExterneUtilisateur:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant de l'étudiant. Provient de votre système
                    de gestion des études. Obligatoire.
                idUniteOrganisation:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant de votre organisation. Provient de Brio
                    et sera fourni par l'équipe Brio. Obligatoire.
                idExterneGroupe:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant du groupe. Provient de votre système de
                    gestion des études. Obligatoire.
              description: |-
                Paramètres de suppression d'une `InscriptionGroupeFormationCreditee`. <br>

                 Exemple:
                 <pre><code>
                 {
                      "idExterne":"888",
                      "idExterneUtilisateur":"333",
                      "idUniteOrganisation":"123",
                      "idExterneGroupe":"789"
                 }
                 </code></pre>
      responses:
        "200":
          description: Retourne `ResultatSuppression` avec le nombre d'inscriptions
            supprimées.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultatSuppression'
        "400":
          description: "La requête n'est pas valide. La raison sera documentée dans\
            \ `erreursValidation`. Raisons possibles: <ul><li>B00751: La taille doit\
            \ être comprise entre {min} et {max}.</li><li>B00752: Le champ ne peut\
            \ être vide.</li></ul>"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErreurValidation'
  /formations/v1/formationscreditees/-/groupes:
    put:
      tags:
      - Gestion site - Formation créditée
      summary: Crée ou modifie un groupe pour une formation créditée selon l'information
        spécifiée.
      description: |-
        Crée ou modifie un groupe pour une formation créditée selon l'information spécifiée.

         <p>
         Pour créer ou modifier un groupe pour une formation créditée dans Brio, vous devez appeler cette API en précisant les
         informations du groupe selon le format défini par les <code>GroupeFormationCrediteeParams</code>.
         </p>

         <p>
         Cette API effectuera une recherche dans les groupes crédités existants à partir des valeurs <code>idExterne</code> et <code>idOrganisation</code>
         qui ont été spécifiées. Si un groupe crédité est trouvé, il sera modifié, sinon un nouveau groupe crédité sera créé.
         </p>

         <p>
         <code>idUniteOrganisation</code> : Identifiant de votre organisation. Provient de Brio<br>
         <code>idUniteResponsable</code> : Identifiant de l'unité responsable du groupe. Provient de Brio.<br>
         <code>idExterne</code> : Identifiant du groupe. Provient de votre système de gestion des études.<br>
         <code>idExterneSession</code> : Identifiant de la session. Provient de votre système de gestion des études.<br>
         <code>idExterneFormation</code> : Identifiant de la formation. Provient de votre système de gestion des études.<br>
         </p>

         #### Exemple (structure de base d'un appel):<br>
         <pre><code>
         PUT /formations/v1/formationscreditees/-/groupes
         {
              "code":"123",
              "idUniteOrganisation":"123",
              "idUniteResponsable":"456",
              "idExterne":"789",
              "idExterneSession":"321",
              "idExterneFormation":"001",
              "horodateDebut": "2022-09-01T18:00",
              "horodateFin": "2022-12-20T18:59",
              "sectionCours": "aa1",
              "modeNotation": "SUCCES_ECHEC",
              "nombreCredits": "10",
              "description": "Nombre d'heures de présence",
              "nombreHeuresClasse": "120",
              "nombreHeuresLaboratoire": "100",
              "nombreHeuresTravailPersonnel": "120",
              "formuleEnseignementGroupe": "EN_LIGNE"
         }
         </code></pre>

         #### Exemple d'un appel fait avec cURL :<br>
         <pre><code>
         curl -X PUT [URL] \
            -H 'Content-Type: application/json' \
            -H "Accept: application/json" \
            -d @- <<'EOF'
            {
                "code":"123",
                "idUniteOrganisation":"123",
                "idUniteResponsable":"456",
                "idExterne":"789",
                "idExterneSession":"321",
                "idExterneFormation":"001",
                "horodateDebut": "2022-09-01T18:00",
                "horodateFin": "2022-12-20T18:59",
                "sectionCours": "aa1",
                "modeNotation": "SUCCES_ECHEC",
                "nombreCredits": "10",
                "description": "Nombre d'heures de présence",
                "nombreHeuresClasse": "120",
                "nombreHeuresLaboratoire": "100",
                "nombreHeuresTravailPersonnel": "120",
                "formuleEnseignementGroupe": "EN_LIGNE"
            }
            EOF
         </code></pre>
      operationId: ca.ulaval.ena2.formations.apis.formationscreditees.groupes.publique.GroupesFormationCrediteeRestServicePublique.creerOuModifierGroupeFormationCreditee
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  maxLength: 18
                  minLength: 1
                  type: string
                  description: Code du groupe de la formation créditée. Obligatoire.
                idUniteOrganisation:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant de votre organisation. Provient de Brio
                    et sera fourni par l'équipe Brio. Obligatoire.
                idUniteResponsable:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: |-
                    Identifiant de l'unité responsable du groupe de la formation créditée. Provient de Brio et sera fourni par l'équipe Brio. Obligatoire.
                     L'unité doit faire partie des unités responsables de la formation créditée liée au groupe.
                idExterne:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant du groupe de la formation créditée. Provient
                    de votre système de gestion des études. Obligatoire.
                idExterneSession:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant de la session de la formation créditée.
                    Provient de votre système de gestion des études. Obligatoire.
                idExterneFormation:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant de la formation créditée. Provient de votre
                    système de gestion des études. Obligatoire.
                horodateDebut:
                  type: string
                  description: |-
                    Date et heure de début de la formation créditée en format local (sans décalage horaire). Obligatoire.
                     La date horodateDebut doit être inférieure à la date horodateFin.<br>

                     Le décalage horaire est basé sur le fuseau horaire "America/Toronto".
                  format: date-time
                horodateFin:
                  type: string
                  description: |-
                    Date et heure de fin de la formation créditée en format local (sans décalage horaire). Obligatoire.
                     La date horodateFin doit être supérieure à la date horodateDebut.<br>

                     Le décalage horaire est basé sur le fuseau horaire "America/Toronto".
                  format: date-time
                sectionCours:
                  type: string
                  description: Section du cours de la formation. Optionnel.
                modeNotation:
                  type: string
                  description: |-
                    Le mode de notation du groupe. Obligatoire.<br>
                     Le mode de notation (aussi appelé système de notation) permet de spécifier sous quelle forme sera le résultat final.
                     Il sera transféré dans le site de formation et, selon sa valeur, un barème de conversion ou une note de passage peut être défini afin de convertir
                     automatiquement la note cumulée de l'étudiant en résultat final.<br><br>

                     Pour un mode de notation « Note pourcentage », le résultat final du cours sera une note en pourcentage.<br><br>

                     Pour un mode de notation « Succès / Échec », une note de passage pourrait être définie dans le site afin de convertir la note cumulée en succès ou en échec.<br><br>

                     Pour un mode de notation « Lettré » ou « Lettré 2-3e cycle », un barème de conversion pourrait être défini afin de convertir automatiquement la note cumulée en lettre selon les intervalles définis pour chaque lettre.<br><br>
                  enum:
                  - SUCCES_ECHEC
                  - LETTRE
                  - LETTRE_2E_3E_CYCLE
                  - NOTE_POURCENTAGE
                nombreCredits:
                  type: number
                  description: Nombre de crédits pour ce groupe (correspond au nombre
                    d'unités pour les cégeps).
                description:
                  type: string
                  description: La description du groupe.
                nombreHeuresClasse:
                  type: number
                  description: |-
                    Nombre d'heures de présence par semaine consacrées à l\u2019enseignement magistral,
                     à une conférence, à un séminaire ou à des rencontres de tous les étudiants et étudiantes de ce groupe.
                nombreHeuresLaboratoire:
                  type: number
                  description: |-
                    Nombre d'heures de présence par semaine consacrées à des rencontres étudiantes ou à l\u2019exécution de travaux pratiques,
                     de répétitions ou de projets dans des locaux spécialisés en petits groupes.
                nombreHeuresTravailPersonnel:
                  type: number
                  description: |-
                    Nombre d'heures par semaine que l\u2019étudiante ou l'étudiant consacre en moyenne
                     pour accomplir du travail personnel en lien avec le cours qu\u2019elle ou il suit.
                formuleEnseignementGroupe:
                  type: string
                  description: Formule d'enseignement du groupe.
                  enum:
                  - EN_SALLE
                  - EN_LIGNE
                  - HYBRIDE
                  - COMODALE
              description: |-
                Paramètres pour la création ou la modification d'un `GroupeFormationCreditee`. <br>

                 Lorsqu'un groupe de la formation créditée existe pour la combinaison d'`idExterne` et d'`idUniteOrganisation` spécifiée,
                 ce groupe sera mis à jour. Dans le cas contraire, un nouveau groupe sera créé.<br>

                 Exemple:
                 <pre><code>
                 {
                     "code":"123",
                     "idUniteOrganisation":"123",
                     "idUniteResponsable":"456",
                     "idExterne":"789",
                     "idExterneSession":"321",
                     "idExterneFormation":"001",
                     "horodateDebut": "2022-09-01T08:00",
                     "horodateFin": "2022-12-20T18:00",
                     "sectionCours": "aa1",
                     "modeNotation": "SUCCES_ECHEC",
                     "nombreCredits": "10",
                     "description": "Nombre d'heures de présence",
                     "nombreHeuresClasse": "120",
                     "nombreHeuresLaboratoire": "100",
                     "nombreHeuresTravailPersonnel": "120",
                     "formuleEnseignementGroupe": "COMODALE"
                 }
                 </code></pre>
      responses:
        "200":
          description: Le groupe de la formation créditée créé ou modifié.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupeFormationCreditee'
        "400":
          description: "La requête n'est pas valide. La raison sera documentée dans\
            \ `erreursValidation`. Raisons possibles: <ul><li>B00751: La taille doit\
            \ être comprise entre {min} et {max}.</li><li>B00752: Le champ ne peut\
            \ être vide.</li><li>B00754: Le type n'est pas supporté.</li><li>B20004:\
            \ L'unité responsable est inconnue.</li><li>B20605: L'unité organisation\
            \ est inconnue.</li><li>B20606: La formation créditée est inexistante.</li><li>B20607:\
            \ La session de formation créditée est inexistante.</li><li>B20608: L'unité\
            \ responsable n'existe pas dans la liste des unités responsables de la\
            \ formation créditée.</li><li>B20609: L'unité organisation spécifiée ne\
            \ correspond pas à une organisation.</li><li>B20611: La date de fin doit\
            \ être supérieure à la date de début.</li><li>B20624: Impossible de modifier\
            \ l'unité responsable d'un groupe si un site de formation lui est associé\
            .</li><li>B20627: Impossible de modifier le mode de notation d'un groupe\
            \ si un site de formation lui est associé</li></ul>"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErreurValidation'
    delete:
      tags:
      - Gestion site - Formation créditée
      summary: Supprime un groupe d'une formation créditée.
      description: |-
        Supprime un groupe d'une formation créditée.

         <p>
         Pour supprimer un groupe dans Brio, vous devez appeler cette API en précisant les informations du groupe selon le format défini
         par les <code>SupprimerGroupeFormationCrediteeParams</code>.
         </p>

         <p>
         <code>idUniteOrganisation</code> : Identifiant de votre organisation. Provient de Brio.<br>
         <code>idExterne</code> : Identifiant du groupe. Provient de votre système de gestion des études.<br>
         </p>

         ### Exemple (structure de base d'un appel)
         <pre><code>
         DELETE /formations/v1/formationscreditees/-/groupes/
             {
                  "idUniteOrganisation":"123",
                  "idExterne":"789"
             }
         </code></pre>

         ### Exemple cURL
         <pre><code>
         curl -X DELETE [URL] \
            -H 'Content-Type: application/json' \
            -H "Accept: application/json" \
            -d @- <<'EOF'
             {
                  "idUniteOrganisation":"123",
                  "idExterne":"789"
             }
            EOF
         </code></pre>
      operationId: ca.ulaval.ena2.formations.apis.formationscreditees.groupes.publique.GroupesFormationCrediteeRestServicePublique.supprimerGroupeFormationCreditee
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                idUniteOrganisation:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: L'identifiant de votre organisation. Provient de Brio
                    et sera fourni par l'équipe Brio. Obligatoire.
                idExterne:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: L'identifiant du groupe crédité à supprimer. Provient
                    de votre système de gestion des études. Obligatoire.
              description: |-
                Paramètres de suppression d'un `GroupeFormationCreditee`. <br>

                 Exemple:
                 <pre><code>
                 {
                    "idUniteOrganisation":"123",
                    "idExterne":"789"
                 }
                 </code></pre>
      responses:
        "200":
          description: Retourne `ResultatSuppression` avec le nombre de groupes supprimés.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultatSuppression'
        "400":
          description: "La requête n'est pas valide. La raison sera documentée dans\
            \ `erreursValidation`. Raisons possibles: <ul><li>B00751: La taille doit\
            \ être comprise entre {min} et {max}.</li><li>B00752: Le champ ne peut\
            \ être vide.</li><li>B20620: Il est impossible de supprimer le groupe\
            \ puisqu'il a au moins un enseignant affecté.</li><li>B20623: Il est impossible\
            \ de supprimer le groupe puisqu'il a au moins une inscription liée.</li><li>B20018:\
            \ Un groupe ne peut pas être supprimé si un site de formation lui est\
            \ associé.</li></ul>"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErreurValidation'
  /formations/v1/sessionsformationscreditees:
    put:
      tags:
      - Gestion site - Formation créditée
      summary: Crée ou modifie une session de la formation créditée selon l'information
        spécifiée.
      description: |-
        Crée ou modifie une session de la formation créditée selon l'information spécifiée.

         <p>
         Pour créer ou modifier une session de la  formation créditée dans Brio, vous devez appeler cette API en précisant les informations de la session selon le format
         défini par les <code>SessionFormationCrediteeParams</code>.<br>
         </p>

         <p>
         Cette API effectue une recherche dans les sessions de la formation créditée existantes à partir des valeurs <code>idExterne</code> et
         <code>idUniteOrganisation</code> qui ont été spécifiées. Si une session de la formation créditée est trouvée, elle est modifiée, sinon une nouvelle
         session est créée.
         </p>

         <p>
         <code>idUniteOrganisation</code> : Identifiant de votre organisation. Provient de Brio et sera fourni par l'équipe Brio.<br>
         <code>idExterne</code> : Identifiant de la session. Provient de votre système de gestion des études.<br>
         </p>

         #### Exemple (structure de base d'un appel):<br>
         <pre><code>
         PUT /formations/v1/sessionsformationscreditees/
         {
              "code":"SC-1",
              "nom":"Automne 2023",
              "idUniteOrganisation":"123",
              "idExterne":"321",
              "dateDebutSession": "2023-09-01T18:00",
              "dateFinSession": "2023-12-12T18:59",
              "dateLimiteTransfertResultats": "2007-12-03T10:15:30+01:00"
         }
         </code></pre>

         #### Exemple d'un appel fait avec cURL :<br>
         <pre><code>
         curl -X PUT [URL] \
            -H 'Content-Type: application/json' \
            -H "Accept: application/json" \
            -d @- <<'EOF'
            {
              "code":"SC-1",
              "nom":"Automne 2023",
              "idUniteOrganisation":"123",
              "idExterne":"321",
              "dateDebutSession": "2023-09-01T18:00",
              "dateFinSession": "2023-12-12T18:59",
              "dateLimiteTransfertResultats": "2007-12-03T10:15:30+01:00"
            }
            EOF
         </code></pre>
      operationId: ca.ulaval.ena2.formations.apis.formationscreditees.sessions.publique.SessionsFormationCrediteeRestServicePublique.creerOuModifierSessionFormationCreditee
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  maxLength: 18
                  minLength: 1
                  type: string
                  description: Code de la session. Obligatoire.
                nom:
                  maxLength: 150
                  minLength: 1
                  type: string
                  description: Nom de la session. Obligatoire.
                idUniteOrganisation:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant de votre organisation. Provient de Brio
                    et sera fourni par l'équipe Brio. Obligatoire.
                idExterne:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant de la session. Provient de votre système
                    de gestion des études. Obligatoire.
                dateDebutSession:
                  type: string
                  description: |-
                    Date et heure de début de la session en format local (sans décalage horaire). Obligatoire.
                     La date dateDebutSession doit être inférieure à la date dateFinSession.

                     Le décalage horaire est basé sur le fuseau horaire "America/Toronto".
                  format: date-time
                dateFinSession:
                  type: string
                  description: |-
                    Date et heure de fin de la session en format local (sans décalage horaire). Obligatoire.
                     La date dateFinSession doit être supérieure à la date dateDebutSession.

                     Le décalage horaire est basé sur le fuseau horaire "America/Toronto".
                  format: date-time
                dateLimiteTransfertResultats:
                  type: string
                  description: |-
                    La date et heure limite pour effectuer le transfert des résultats dans le système de gestion des études.
                     Utilisé pour les formations créditées de l'Université Laval. (Optionnel).
                  format: date-time
              description: |-
                Paramètres pour la création ou la modification d'une `SessionFormationCreditee`. <br>

                 Lorsqu'une session de la formation créditée existe pour la combinaison d'`idExterne` et d'`idUniteOrganisation` spécifiée,
                 cette session sera mise à jour. Dans le cas contraire, une nouvelle session sera créée.

                 Exemple:
                 <pre><code>
                     {
                      "code":"SC-1",
                      "nom":"Automne 2023",
                      "idUniteOrganisation":"123",
                      "idExterne":"321",
                      "dateDebutSession": "2023-09-01T18:00",
                      "dateFinSession": "2023-12-12T18:59",
                      "dateLimiteTransfertResultats": "2007-12-03T10:15:30+01:00"
                     }
                 </code>
                 </pre>
      responses:
        "200":
          description: La session de la formation créditée créée ou modifiée.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionFormationCreditee'
        "400":
          description: "La requête n'est pas valide. La raison sera documentée dans\
            \ <code>erreursValidation</code>. Raisons possibles: <ul><li>B00751: La\
            \ taille doit être comprise entre {min} et {max}.</li><li>B00752: Le champ\
            \ ne peut être vide.</li><li>B00754: Le type n'est pas supporté.</li><li>B20605:\
            \ L'unité organisation est inconnue.</li><li>B20609: L'unité organisation\
            \ spécifiée ne correspond pas à une organisation.</li><li>B20611: La date\
            \ de fin doit être supérieure à la date de début.</li></ul>"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErreurValidation'
    delete:
      tags:
      - Gestion site - Formation créditée
      summary: Supprime une session de la formation créditée selon l'information spécifiée.
      description: |-
        Supprime une session de la formation créditée selon l'information spécifiée.

         <p>
         Pour supprimer une session de la formation créditée dans Brio, vous devez appeler cette API en précisant les paramètres de suppression selon le format
         défini par les <code>SupprimerFormationCrediteeParams</code>.<br>
         </p>

         <p>
         <code>idUniteOrganisation</code> : Identifiant de votre organisation. Provient de Brio.<br>
         <code>idExterne</code> : Identifiant de la session. Provient de votre système de gestion des études.<br>
         </p>

         #### Exemple (structure de base d'un appel):<br>
         <pre><code>
         DELETE /formations/v1/sessionsformationscreditees/
         {
              "idUniteOrganisation":"123",
              "idExterne":"321"
         }
         </code></pre>

         #### Exemple d'un appel fait avec cURL :<br>
         <pre><code>
         curl -X DELETE [URL] \
            -H 'Content-Type: application/json' \
            -H "Accept: application/json" \
            -d @- <<'EOF'
            {
              "idUniteOrganisation":"123",
              "idExterne":"321"
            }
            EOF
         </code></pre>
      operationId: ca.ulaval.ena2.formations.apis.formationscreditees.sessions.publique.SessionsFormationCrediteeRestServicePublique.supprimerSessionFormationCreditee
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                idUniteOrganisation:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: L'identifiant de votre organisation. Provient de Brio
                    et sera fourni par l'équipe Brio. Obligatoire.
                idExterne:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: L'identifiant de la session créditée à supprimer. Provient
                    de votre système de gestion des études. Obligatoire.
              description: |-
                Paramètres de suppression d'une `SessionFormationCreditee`. <br>


                 Exemple:
                 <pre><code>
                 {
                    "idUniteOrganisation":"123",
                    "idExterne":"321"
                 }
                 </code></pre>
      responses:
        "200":
          description: Le nombre d'éléments supprimés.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultatSuppression'
        "400":
          description: "La requête n'est pas valide. La raison sera documentée dans\
            \ `erreursValidation`. Raisons possibles: <ul><li>B00751: La taille doit\
            \ être comprise entre {min} et {max}.</li><li>B00752: Le champ ne peut\
            \ être vide.</li><li>B20619: Il est impossible de supprimer la session\
            \ puisqu'elle a au moins un groupe rattaché.</li></ul>"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErreurValidation'
  /formations/v1/formationscreditees:
    put:
      tags:
      - Gestion site - Formation créditée
      summary: Crée ou modifie une formation créditée selon l'information spécifiée.
      description: |-
        Crée ou modifie une formation créditée selon l'information spécifiée.

         <p>
         Pour créer ou modifier une formation créditée dans Brio, vous devez appeler cette API en précisant les informations de la formation selon le format
         défini par les <code>FormationCrediteeParams</code>.<br>
         </p>

         <p>
         Cette API effectuera une recherche dans les formations créditées existantes à partir des valeurs <code>idExterne</code> et
         <code>idUniteOrganisation</code> qui ont été spécifiées. Si une formation créditée est trouvée, elle sera modifiée, sinon une nouvelle
         formation créditée sera créée.
         </p>

         <p>
         Lorsqu'une formation créditée a déjà été envoyée à l'API, son <code>typeStructure</code> devient <b>non modifiable</b>.
         Si un changement de type de structure est nécessaire, la formation existante doit être <b>supprimée</b> de l'API,
         puis <b>recréée et synchronisée</b> avec le nouveau type.
         </p>

         <p>
         <code>idExterne</code> : Identifiant de la formation créditée. Provient de votre système de gestion des études.<br>
         <code>idUniteOrganisation</code> : Identifiant de votre organisation. Provient de Brio.<br>
         <code>idsUnitesResponsables</code> : Identifiants des unités responsables de la formation créditée. Provient de Brio.<br>
         <code>codeLangue</code> : Code de la langue de la formation créditée. Si cette information est absente, le code de la langue par défaut de votre organisation sera utilisé.<br>
         <code>code</code> : Code unique de la formation créditée.<br>
         <code>nom</code> : Nom de la formation créditée.<br>
         <code>description</code> : Description de la formation créditée (optionnel)<br>
         <code>typeStructure</code> : Permet d'identifier le type de formation créditée (optionnel).<br>
         <code>formationDistance</code> : Informations spécifiques aux formations créditées envoyées au répertoire des formations à distance (optionnel).<br>
         <ul>
           <li><code>nombreCredits</code> : Nombre de crédits ou d'unités de la formation créditée (optionnel).</li>
           <li><code>urlExterne</code> : URL externe associée à la formation créditée (optionnel).</li>
           <li><code>entierementDistance</code> : Indique si la formation créditée est offerte entièrement à distance (optionnel).</li>
           <li><code>inscriptionEnContinu</code> : Indique si l'inscription à la formation créditée peut se faire en tout temps (optionnel).</li>
           <li><code>niveauxFormation</code> : Liste des niveaux de formation associés à la formation créditée (optionnel).</li>
           <li><code>idsExterneDomaine</code> : Liste des identifiants externes des domaines associés à la formation créditée (optionnel).</li>
           <li><code>formulesEnseignement</code> : Liste des modes de formation associés à la formation créditée (optionnel).</li>
         </ul>
         </p>

         #### Exemple (structure de base d'un appel):<br>
         <pre><code>
         PUT /formations/v1/formationscreditees/
         {
              "idUniteOrganisation": "123",
              "idExterne": "001",
              "code": "B-Sc",
              "nom": "Baccalauréat en actuariat",
              "idsUnitesResponsables": ["123", "456"],
              "codeLangue": "FR",
              "description": "Ce baccalauréat vous permettra de devenir une professionnelle ou un professionnel de l'analyse et du traitement des incidences financières du risque. Ainsi, vous mettrez à profit vos aptitudes pour les mathématiques et votre esprit créatif pour résoudre des problèmes financiers et sociaux.",
              "typeStructure": "PROGRAMME_AVEC_ACTIVITES",
              "formationDistance": {
                 "nombreCredits": 90,
                 "urlExterne": "https://www.ulaval.ca/etudes/programmes/baccalaureat-en-actuariat",
                 "entierementDistance": true,
                 "inscriptionEnContinu": false,
                 "niveauxFormation": [
                     "PROGRAMME_UNIVERSITAIRE_1ER_CYCLE",
                 ],
                 "idsExterneDomaine": [
                     "ADMN",
                     "EDUC",
                     "SANT"
                  ],
                  "formulesEnseignement":[
                     "EN_LIGNE",
                     "COMODALE"
                  ]
               }
         }
         </code></pre>

         #### Exemple d'un appel fait avec cURL :<br>
         <pre><code>
         curl -X PUT [URL] \
            -H 'Content-Type: application/json' \
            -H "Accept: application/json" \
            -d @- <<'EOF'
            {
                "idUniteOrganisation":"123",
                "idExterne": "001",
                "code": "B-Sc",
                "nom": "Baccalauréat en actuariat",
                "idsUnitesResponsables": ["123", "456"],
                "codeLangue": "FR",
                "description": "Ce baccalauréat vous permettra de devenir une professionnelle ou un professionnel de l'analyse et du traitement des incidences financières du risque. Ainsi, vous mettrez à profit vos aptitudes pour les mathématiques et votre esprit créatif pour résoudre des problèmes financiers et sociaux.",
                "typeStructure": "PROGRAMME_AVEC_ACTIVITES",
                "formationDistance": {
                       "nombreCredits": 90,
                       "urlExterne": "https://www.ulaval.ca/etudes/programmes/baccalaureat-en-actuariat",
                       "entierementDistance": true,
                       "inscriptionEnContinu": false,
                       "niveauxFormation": [
                           "PROGRAMME_UNIVERSITAIRE_1ER_CYCLE",
                       ],
                      "idsExterneDomaine": [
                           "ADMN",
                           "EDUC",
                           "SANT"
                      ],
                      "formulesEnseignement":[
                           "EN_LIGNE",
                           "COMODALE"
                      ]
                 }
            }
            EOF
         </code></pre>
      operationId: ca.ulaval.ena2.formations.apis.formationscrediteespublic.FormationsCrediteesPublicRestService.creerOuModifierFormationCreditee
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                idUniteOrganisation:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant de votre organisation. Provient de Brio
                    et sera fourni par l'équipe Brio. Obligatoire.
                idExterne:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant de la formation créditée. Provient de votre
                    système de gestion des études. Obligatoire.
                code:
                  maxLength: 12
                  minLength: 1
                  type: string
                  description: Code de la formation créditée. Obligatoire
                nom:
                  maxLength: 150
                  minLength: 1
                  type: string
                  description: Nom de la formation créditée. Obligatoire.
                idsUnitesResponsables:
                  minItems: 1
                  uniqueItems: true
                  type: array
                  description: |-
                    Identifiants des unités responsables de la formation créditée. Provient de Brio et seront fournis par l'équipe Brio. Obligatoire.
                     Les unités doivent faire partie de votre organisation.
                  items:
                    type: string
                codeLangue:
                  type: string
                  description: |-
                    Code de la langue de la formation créditée. Optionnel.
                     S'il est absent, le code de la langue par défaut de l'organisation sera utilisé.

                     Valeurs permises :
                     `FR` : Français (Canada).
                     `EN` : Anglais (Canada).
                  enum:
                  - FR
                  - EN
                typeStructure:
                  type: string
                  description: |-
                    Le type de la formation créditée. Optionnel.
                     Valeur par défaut est ACTIVITE_REGULIERE
                  enum:
                  - ACTIVITE_REGULIERE
                  - MOOC
                  - AUTOFORMATION
                  - ACTIVITE_EXTERNE
                  - PROGRAMME_AVEC_MODULES
                  - NANOPROGRAMME
                  - PROGRAMME_AVEC_ACTIVITES
                description:
                  type: string
                  description: Description de la formation créditée. Optionnel.
                formationDistance:
                  properties:
                    nombreCredits:
                      type: number
                      description: Nombre de crédits ou d'unités de la formation créditée.
                        Optionnel. Ce champ est limité à un maximum de 6 chiffres
                        avant la virgule et 2 chiffres après la virgule.
                    urlExterne:
                      maxLength: 1000
                      minLength: 1
                      type: string
                      description: URL externe associée à la formation créditée. Optionnel.
                    entierementDistance:
                      type: boolean
                      description: Indique si la formation créditée est offerte entièrement
                        à distance. Optionnel. Valide uniquement pour les formations
                        de type « Programme ».
                      default: false
                    inscriptionEnContinu:
                      type: boolean
                      description: Indique si l'inscription à la formation créditée
                        peut se faire en tout temps. Optionnel. Valide uniquement
                        pour les formations de type « Cours ».
                      default: false
                    niveauxFormation:
                      uniqueItems: true
                      type: array
                      description: Liste des niveaux de formation associés à la formation
                        créditée. Optionnel.
                      items:
                        type: string
                        description: |-
                          Représente les différents niveaux de formation.
                           Chaque niveau correspond à une catégorie de cours ou de programmes.
                           Un cours peut avoir plusieurs niveaux de formation.
                        enum:
                        - COURS_COLLEGIAL
                        - COURS_UNIVERSITAIRE_1ER_CYCLE
                        - COURS_UNIVERSITAIRE_2E_CYCLE
                        - COURS_UNIVERSITAIRE_3E_CYCLE
                        - PROGRAMME_COLLEGIAL_TECHNIQUE
                        - PROGRAMME_COLLEGIAL_PRE_UNIVERSITAIRE
                        - PROGRAMME_UNIVERSITAIRE_1ER_CYCLE
                        - PROGRAMME_UNIVERSITAIRE_2E_CYCLE
                        - PROGRAMME_UNIVERSITAIRE_3E_CYCLE
                    idsExterneDomaine:
                      type: array
                      description: |-
                        Liste des identifiants externes des domaines associés à la formation créditée. Optionnel.<br>Ces domaines sont utilisés pour catégoriser les formations envoyées au répertoire des formations à distance. Une formation peut être associée à plusieurs domaines. Les identifiants externes sont associés aux domaines suivants :
                         <ul>
                             <li>Administration - ADMN</li>
                             <li>Agroalimentaire et foresterie - AGRO</li>
                             <li>Aménagement et design - AMDE</li>
                             <li>Arts - ARTS</li>
                             <li>Droit - DROI</li>
                             <li>Éducation - EDUC</li>
                             <li>Informatique - INFO</li>
                             <li>Lettres, langues et communication - LLCO</li>
                             <li>Mathématiques - MATH</li>
                             <li>Psychologie et relations humaines - PSRH</li>
                             <li>Santé - SANT</li>
                             <li>Sciences biologiques - SCBI</li>
                             <li>Sciences humaines et sociales - SCHS</li>
                             <li>Sciences physiques - SCPH</li>
                             <li>Technologie et ingénierie - TECH</li>
                         </ul>
                      items:
                        type: string
                    formulesEnseignement:
                      uniqueItems: true
                      type: array
                      description: Liste des modes de formation associés à la formation
                        créditée. Optionnel.
                      items:
                        type: string
                        description: Liste des modes de formation associés à la formation
                          créditée. Optionnel. Le mode HYBRIDE ne s'applique qu'aux
                          programmes.
                        enum:
                        - EN_SALLE
                        - EN_LIGNE
                        - HYBRIDE
                        - COMODALE
                  description: Informations spécifiques aux formations créditées envoyées
                    au répertoire des formations à distance. Optionnel.
              description: |-
                Paramètres pour la création ou la modification d'une `FormationCreditee`. <br>

                 Lorsqu'une formation créditée existe pour la combinaison d'`idExterne` et d'`idUniteOrganisation` spécifiée,
                 cette formation sera mise à jour. Dans le cas contraire, une nouvelle formation créditée sera créée.

                 Exemple:
                 <pre><code>
                 {
                     "idUniteOrganisation":"123",
                     "idExterne":"001",
                     "code":"B-Sc",
                     "nom":"Baccalauréat en actuariat",
                     "idsUnitesResponsables": ["123", "456"],
                     "codeLangue": "FR",
                     "description":"Ce baccalauréat vous permettra de devenir une professionnelle ou un professionnel de l'analyse et du traitement des incidences financières du risque. Ainsi, vous mettrez à profit vos aptitudes pour les mathématiques et votre esprit créatif pour résoudre des problèmes financiers et sociaux.",
                     "typeStructure":"PROGRAMME_AVEC_ACTIVITES",
                     "formationDistance": {
                         "nombreCredits": 90,
                         "urlExterne": "https://www.ulaval.ca/etudes/programmes/baccalaureat-en-actuariat",
                         "entierementDistance": true,
                         "inscriptionEnContinu": false,
                         "niveauxFormation": [
                             "PROGRAMME_UNIVERSITAIRE_1ER_CYCLE",
                         ],
                         "idsExterneDomaine":[
                              "ADMN",
                              "EDUC",
                              "SANT"
                         ],
                         "formulesEnseignement":[
                             "EN_LIGNE",
                             "COMODALE"
                         ]
                      }
                 }
                 </code></pre>
      responses:
        "200":
          description: La formation créditée créée ou modifiée.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormationCreditee'
        "400":
          description: "La requête n'est pas valide. La raison sera documentée dans\
            \ `erreursValidation`. Raisons possibles: <ul><li>B00751: La taille doit\
            \ être comprise entre {min} et {max}.</li><li>B00752: Le champ ne peut\
            \ être vide.</li><li>B00754: Le type n'est pas supporté.</li><li>B20184:\
            \ La ou les unités administratives responsables doivent faire partie de\
            \ l'organisation spécifiée. Les unités en erreur sont: [liste des identifiants\
            \ d'unité en erreur].</li><li>B20605: L'unité organisation est inconnue.</li><li>B20609:\
            \ L'unité organisation spécifiée ne correspond pas à une organisation.</li><li>B20610:\
            \ Il est impossible de retirer la ou les unités responsables puisqu'elles\
            \ sont rattachées à un groupe. Les unités en erreur sont: [liste des identifiants\
            \ d'unité en erreur].</li><li>B20800: Un programme ne peut avoir qu’un\
            \ seul niveau de formation. </li><li>B20801: Le niveau de formation spé\
            cifié n'est pas valide pour ce type de formation.</li><li>B20802: L'indicateur\
            \ 'InscriptionEnContinu' ne s'applique pas à une formation de type 'Programme'.\
            \ </li><li>B20803: Le type de formation spécifié n'est pas valide. </li><li>B20804:\
            \ L'indicateur 'EntierementDistance' ne s'applique pas à une formation\
            \ de type 'Cours'. </li><li>B20806: La formule d'enseignement spécifié\
            e n'est pas valide. </li><li>B20807: Un cours ne peut pas avoir une formule\
            \ d’enseignement 'HYBRIDE'. Cette formule est réservée aux programmes.\
            \ </li></ul>"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErreurValidation'
    delete:
      tags:
      - Gestion site - Formation créditée
      summary: Supprime une formation créditée selon l'information spécifiée.
      description: |-
        Supprime une formation créditée selon l'information spécifiée.

         <p>
         Pour supprimer une formation créditée dans Brio, vous devez appeler cette API en précisant les paramètres de suppression selon le format
         défini par les <code>SupprimerFormationCrediteeParams</code>.<br>
         </p>

         <p>
         <code>idUniteOrganisation</code> : Identifiant de votre organisation. Provient de Brio.<br>
         <code>idExterne</code> : Identifiant de la formation. Provient de votre système de gestion des études.<br>
         </p>

         #### Exemple (structure de base d'un appel):<br>
         <pre><code>
         DELETE /formations/v1/formationscreditees/
         {
              "idUniteOrganisation":"123",
              "idExterne":"001"
         }
         </code></pre>

         #### Exemple d'un appel fait avec cURL :<br>
         <pre><code>
         curl -X DELETE [URL] \
            -H 'Content-Type: application/json' \
            -H "Accept: application/json" \
            -d @- <<'EOF'
            {
              "idUniteOrganisation":"123",
              "idExterne":"001"
            }
            EOF
         </code></pre>
      operationId: ca.ulaval.ena2.formations.apis.formationscrediteespublic.FormationsCrediteesPublicRestService.supprimerFormationCreditee
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                idUniteOrganisation:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: L'identifiant de votre organisation. Provient de Brio
                    et sera fourni par l'équipe Brio. Obligatoire.
                idExterne:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: L'identifiant de la formation créditée à supprimer.
                    Provient de votre système de gestion des études. Obligatoire.
              description: |-
                Paramètres de suppression d'une `FormationCreditee`. <br>


                 Exemple:
                 <pre><code>
                 {
                    "idUniteOrganisation":"123",
                    "idExterne":"001"
                 }
                 </code></pre>
      responses:
        "200":
          description: Le nombre d'éléments supprimés.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultatSuppression'
        "400":
          description: "La requête n'est pas valide. La raison sera documentée dans\
            \ `erreursValidation`. Raisons possibles: <ul><li>B00751: La taille doit\
            \ être comprise entre {min} et {max}.</li><li>B00752: Le champ ne peut\
            \ être vide.</li><li>B20618: Il est impossible de supprimer la formation\
            \ puisqu'elle a au moins un groupe rattaché.</li></ul>"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErreurValidation'
  /formations/v1/credites:reinitialiser:
    post:
      tags:
      - Gestion site - Formation créditée
      summary: Réinitialise les données d'une organisation de test.
      description: |-
        Réinitialise les données d'une organisation de test.

         <p>
         Pour réinitialiser les données d'une organisation de test des API de formations créditées
         dans Brio, vous devez appeler cette API en précisant le paramètre de l'organisation
         selon le format défini par les  <code>ReinitialiserDonneesCrediteesParams</code>.<br>
         </p>

         <p>
         Cette API supprime des données reliées à l'identifiant <code>idUniteOrganisation</code> spécifié.
         </p>

         <p>
         <code>idUniteOrganisation</code> : Identifiant de l'organisation de test des API de formations créditées. Provient de Brio.<br>
         </p>

         <p>
         Données réinitialisées :
         <ul>
         <li>Les inscriptions des étudiants;</li>
         <li>Les affectations des enseignants;</li>
         <li>Les groupes;</li>
         <li>Les sessions;</li>
         <li>Les cours;</li>
         <li>Les lots importés et leurs opérations.</li>
         </ul>
         Note : Les utilisateurs de l'organisation de test et leurs comptes associés ne seront pas réinitialisés.
         </p>

         #### Exemple (structure de base d'un appel):<br>
         <pre><code>
         POST /formations/v1/credites:reinitialiser
         {
              "idUniteOrganisation":"123"
         }
         </code></pre>

         #### Exemple d'un appel fait avec cURL :<br>
         <pre><code>
         curl -X POST [URL] \
            -H 'Content-Type: application/json' \
            -H "Accept: application/json" \
            -d @- <<'EOF'
            {
              "idUniteOrganisation":"123"
            }
            EOF
         </code></pre>
      operationId: ca.ulaval.ena2.formations.apis.formationscrediteespublic.ReinitialisationDonneesCrediteesPublicRestService.reinitialiserDonneesCreditees
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                idUniteOrganisation:
                  maxLength: 50
                  minLength: 1
                  type: string
                  description: Identifiant de l'organisation de test des API de formations
                    créditées. Provient de Brio et sera fourni par l'équipe Brio.
                    Obligatoire.
              description: |-
                Paramètres pour la réinitialisation des données d'une organisation de test <code>idUniteOrganisation</code><br/>

                 Exemple:
                 <pre><code>
                 {
                     "idUniteOrganisation":"123"
                 }
                 </code></pre>
      responses:
        "200":
          description: Le message de confirmation de la réinitialisation des données
            ou le message indiquant l'absence de données à réinitialiser.
          content:
            application/json:
              schema:
                type: string
        "400":
          description: "La requête n'est pas valide. La raison sera documentée dans\
            \ `erreursValidation`. Raisons possibles: <ul><li>B00751: La taille doit\
            \ être comprise entre {min} et {max}.</li><li>B00752: Le champ ne peut\
            \ être vide.</li><li>B20605: L'unité organisation est inconnue.</li><li>B20609:\
            \ L'unité organisation spécifiée ne correspond pas à une organisation.</li><li>B20621:\
            \ L'organisation n'est pas une organisation de test.</li><li>B20622: L'organisation\
            \ ne peut être réinitialisée.</li></ul>"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErreurValidation'
  /formations/v1/lots:
    post:
      tags:
      - Imports en lot
      summary: Importe un lot selon l'information spécifiée.
      description: |-
        Importe un lot selon l'information spécifiée.

         <p>Cette API importe les ressources en lot, selon l'information spécifiée. Le traitement des lots se fait en asynchrone. Après avoir ajouté les opérations
         à un lot, l'information minimale du lot sera immédiatement retournée par l'API. Pour connaître l'avancement du traitement, il faudra interroger l'API pour
         obtenir les informations d'un lot avec ses statistiques de traitement ou l'API pour obtenir les détails des opérations d'un lot avec le(s) statut(s) recherché(s).</p>

         <p>Il y a deux modes d'importation en lot: <code>INCREMENTAL</code> ou <code>DIFFERENTIEL</code>. Le mode incrémental permet l'ajout ou la modification de plusieurs
         ressources tandis que le mode différentiel permet de reproduire l'image réelle des ressources.  Le mode différentiel permet la suppression et elle est déterminée par
         l'absence de la ressource du lot. Les ressources du lot différentiel doivent être comprises dans un ensemble.  Plus précisément, toutes les inscriptions doivent être pour
         le même groupe (<code>idExterneEnsembleDifferentiel</code>).
         </p>

         <p>L'ordre de traitement des opérations d'un lot est important, car il garantit que la ressource respectera la dernière image reçue de ses valeurs. Pour
         cette raison, l'API traite un seul lot à la fois pour une combinaison de type et d'organisation. Une file d'attente est en place pour recevoir les lots
         à importer qui arriveraient pendant le traitement d'un lot de même type pour une organisation.</p>

         <p>Lors de la réception d'une requête, cette API effectue une recherche dans les lots existants avec l'état <code>RECEPTION_EN_COURS</code> à partir
         des valeurs <code>idUniteOrganisation</code> et <code>type</code> spécifiées. Si un lot est trouvé, la liste des opérations de ce lot sera modifiée pour
         ajouter les nouvelles opérations reçues. Autrement, un nouveau lot sera créé avec les opérations spécifiées.</p>
         <p><b>IMPORTANT</b> : Pour l'instant, une gestion minimale de la concurrence est assurée.  C'est-à-dire que le système ne traite pas adéquatement le traitement
         simultané des lots et des opérations unitaires. Il est fortement recommandé de ne faire aucune opération unitaire pendant l'exécution d'une importation en lot.</p>
         <p>
         <b>IMPORTANT</b>: La gestion minimale de l'état <code>ERREUR</code> par le système (par reprise automatique du traitement d'un lot) sera implémentée plus
         tard. D'ici à la mise en place du mécanisme, les opérations non traitées du lot en <code>ERREUR</code> devront être soumises à nouveau <b>avec leurs dernières versions</b>.
         </p>

         <p>
         <code>type</code> : Type de contenu à importer. Permet d'informer l'API des ressources qui seront importées par le lot, par exemple : des formations créditées, des groupes ou des inscriptions.<br>
         <code>idUniteOrganisation</code> : Identifiant de votre organisation. Provient de Brio et sera fourni par l'équipe Brio.<br>
         <code>envoiComplete</code> : Indicateur. Permet de savoir si le lot est complet ou non.<br>
         &nbsp;&nbsp S'il est à <code>false</code> : le lot reste en état RECEPTION_EN_COURS et aucune opération n'est traitée.<br>
         &nbsp;&nbsp S'il est à <code>true</code> : le lot passe à l'état EN_ATTENTE et il s'ajoute à la file d'attente des lots du même type à traiter pour l'organisation.<br>
         <code>modeImport</code> : mode d'importation du lot. Optionnel.<br>
          Les modes d'importation disponibles sont :
          <ol>
           <li> Le mode incrémental : permet d'ajouter ou de modifier plusieurs ressources en lot.  Valeur par défaut.</li>
           <li> Le mode différentiel : permet d'ajouter, de modifier et de supprimer des ressources afin que l'image reçue soit reproduite.</li>
          </ol>
         <code>idExterneEnsembleDifferentiel</code> : Identifiant externe de l'ensemble pour le mode différentiel.  Les ressources du lot différentiel doivent être comprises dans le même ensemble.
         Plus précisément, toutes les inscriptions doivent être pour le même groupe.<br>
         Ce paramètre devient obligatoire en mode d'import différentiel, il va permettre de définir sur quel ensemble on va effectuer
         les opérations d'ajout, de modification et de suppression.<br>
         <code>operations</code> : Liste des opérations à importer. Doit respecter l'ordre dans lequel elles doivent être traitées.
         <br/>

         ### Traitement de l'importation d'un lot <br>

         Les différentes étapes d'importation d'un lot vont comme suit : <br>
         <ol>
          <li>Pendant l'envoi des données à importer, le lot demeure dans un état <code>RECEPTION_EN_COURS</code> jusqu'à la réception de l'indicateur
          <code>envoiComplete</code> avec une valeur <code>true</code>. Aucun traitement n'est fait pendant ce temps. Les opérations qui composent le lot
          ont l'état <code>EN_ATTENTE</code>.</li>
          <li>Une fois l'envoi complété, le lot passe à l'état <code>EN_ATTENTE</code> et patiente dans la file d'attente que vienne son tour d'être traité.
          Cet état devrait être de quelques instants seulement.</li>
          <li>Lorsque son tour viendra, le lot passera à un état <code>TRAITEMENT_EN_COURS</code><b>&ast;</b>. Une après l'autre, les opérations qui le compose seront
          traitées selon le flux suivant :
              <ol type="i">
              <li>La prochaine opération avec l'état <code>EN_ATTENTE</code> est récupérée. </li>
              <li>Les paramètres de l'opération sont validés en fonction des règles d'affaires spécifiques au type d'opération et de ressource.<br>
                   En cas de non-respect des règles d'affaires, l'opération est rejetée avec un état <code>ERREUR</code>.</li>
              <li>La ressource correspondante aux paramètres de l'opération sera créée ou modifiée afin de représenter la demande.
                  L'opération passera à un état <code>SUCCES</code>.</li>
              </ol>
          </li>
          <li>Pour le mode <code>INCREMENTAL</code> :
              <ol type="i">
                  <li>Toutes les ressources du lot sont traitées en opération d'ajout ou de modification et selon l'ordre du lot.</li>
                  <li>S'il n'y a aucune opération d'ajout ou de modification en <code>ERREUR</code>, le statut du lot passe à l'état <code>COMPLETE</code>.</li>
                  <li>S'il y a au moins une opération d'ajout ou de modification en <code>ERREUR</code>, le statut du lot passe à l'état <code>COMPLETE_AVEC_ERREURS</code>. </li>
              </ol>
          </li>
          <li>Pour le mode <code>DIFFERENTIEL</code> :
              <ol type="i">
                  <li>Une validation est effectuée afin de s'assurer que toutes les ressources du lot sont dans le même ensemble (<code>idExterneEnsembleDifferentiel</code>).</li>
                  <li>Toutes les ressources du lot sont traitées en opération d'ajout ou de modification et selon l'ordre du lot.</li>
                  <li>S'il n'y a eu aucune opération d'ajout ou de modification en <code>ERREUR</code>, les opérations de suppression sont effectuées afin de reproduire l'image du lot.
[...]
